*{
  padding: 0;
  margin: 0;
}
#container{
  display: grid;
  grid-template-columns: minmax(200px,300px) auto;
  height: 100vh;
  grid-template-areas:
    "side-container main-container";
}

#side-container{
  grid-area: "side-container";
  background: gold;
}
#side-container .wrapper{
  position: fixed;
  padding: 30px;
}
#side-container h1{
  width: 100%;
  margin-bottom: 20px;
}
#side-container ul{
  list-style: none; 
  padding-left: 10px;
}
#side-container ul li a{
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.8; 
}

#main-container{
  grid-area: "main-container";
  
}
#hero img{
  width: 100%;
}
#menu .content img{
  width: 200px;
}
#about, #menu{
  padding: 30px;
  text-align: left;
}

#about, #menu .content{
  margin-bottom: 20px;
}

#about h2, #menu h2{
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

#about p, #menu p{
  max-width: 400px;
  line-height: 1.8;
  font-size: 16px;
  word-break: break-word;
  margin: 0 auto;
  text-align: left;
}

#menu{
  text-align: center;
}

footer{
  padding: 30px;
  background: black;
  color: white;
}

@media screen and (max-width: 1024px){

}

@media screen and (max-width: 768px){
#container{
  grid-template-columns: auto;
  grid-template-areas: 
    "side-container"
    "main-container"
    ;
}
#side-container .wrapper{
  position: static;
  text-align: center;
}
#side-container ul{
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 480px){
  
}
